@import url("https://fonts.googleapis.com/css?family=Varta|Source+Code+Pro&display=block");

body {
	margin-left: 50px;
	font-family: 'Varta', 'Helvetica', 'Arial', sans-serif;
	font-size: 15px;
}

/* Anchor tags are not links as such, so make them more subtle. */
a[name] {
	color: black;
}

pre,tt {
	font-family: 'Source Code Pro', monospace;
	font-size: 11px;
}

.side-float {
	float: right;
	clear: right;
	font-family: 'Varta', Arial, Helvetica, sans-serif;
	width: 20em;
	border: 1px solid black;
	padding: 10px;
	margin-top: 0.7em;
	margin-bottom: 0.3em;
	margin-left: 1.5em;
	margin-right: 40px;
	position: relative;
	z-index: 10;
}

.side-float img {
	float: left;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-right: 10px;
}

.info-float {
	background-color: #ffffff;
}

.info-float img {
	/* Give a bit more margin because info floats are taller. */
	margin-top: 20px;
	margin-bottom: 20px;
}

.wiki-float {
	background-color: lightgreen;
}

.wiki-float img {
	margin-top: 0;
	margin-bottom: 0;
}

.calc-float {
	background-color: lightblue;
}

.video-float {
	background-color: pink;
}

.video-popup {
	width: 480px;
}

.illustration-float {
	background-color: #ffffcc;
}

.illustration-float img {
	width: 100%;
	cursor: zoom-in;
}

.screenshot-popup img {
	/* Scale to 4:3 aspect ratio */
	width: 640px;
	height: 480px;
}

#content pre {
	margin: 0;
	margin-top: 1em;
}

#content p {
	white-space: pre;
	font-family: 'Source Code Pro', monospace;
	font-size: 11px;
	margin: 0;
}

#content p[breakable="true"] {
	margin-top: 1em;
	white-space: normal;
}

#content[proportional="true"] p {
	display: block;
	white-space: normal;
	font-family: 'Varta', 'Helvetica', 'Arial', sans-serif;
	font-size: 13px;
	text-align: justify;
	width: 36em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#content[proportional="true"] .l1-header {
	font-family: 'Varta', 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 18px;
}

#content[proportional="true"] .l2-header {
	font-family: 'Varta', 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 16px;
}

#content[proportional="true"] .l3-header {
	font-family: 'Varta', 'Helvetica', 'Arial', sans-serif;
	font-weight: bold;
	font-size: 14px;
}

#content[proportional="true"] .fixed-only {
	display: none;
}

hr {
	width: 650px;
	margin: 0;
}

#intro {
	width: 650px;
	text-align: justify;
}

/* For small screen sizes, adjust margins to be smaller */
@media screen and (max-width: 799px) {
	#intro {
		width: 90%;
	}
	hr {
		width: 90%;
	}
	body {
		margin-left: 10px;
	}
	.side-float {
		margin-right: 5px;
		width: 18em;
	}
}

