
.calculator {
	padding: 10px;
}

.calculator .result > input {
	width: 80%;
	background-color: black;
	color: white;
	font-size: large;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 0.5em;
}

.calculator .hex-control {
	float: right;
	width: 3em;
	border-top: 1px solid darkgrey;
	border-left: 1px solid darkgrey;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	padding: 10px;
	text-align: center;
}

.calculator input.invalid-result {
	color: red;
}

.calculator .label {
	text-align: right;
}

